{% extends "base.html" %}

{% block title %}Resonanz - Search{% endblock %}

{% block content %}
    <h2 class="mb-4">Search</h2>
    <form id="searchForm" class="mb-3">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <select class="form-select" id="searchType">
                    <option value="address">Address</option>
                    <option value="tenant">Tenant</option>
                </select>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="searchInput" placeholder="Enter query" required />
            </div>
            <div class="col-auto">
                <button type="button" id="searchBtn" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <button type="button" id="downloadBtn" class="btn btn-secondary" disabled>Download Results</button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tenant</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody id="searchResults"></tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/alert.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
